body{
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  font-family: helvetica,sans-serif;
}

 h1{
  margin: 0px;
  margin left: 25px;
  width: 400px;
  text-align: center;
}

p{
  color: #666;
  font-size: 18px;
  line-height: 22px;
  width: 350px;
  text-align: left;
  margin-left:25px
}

ul{
  text-align: right;
}

li{
  list-style: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px
}

img{
 margin-top: 50px;
 padding: 25px;
}

.img{
  background-repeat:no-repeat;
  background-position: 400px
}

#un{
  background-color: #FFF;
  height: 40px;
  background-image: url(img/feedly-logo-small-black.png);
  background-repeat:no-repeat;
  background-position: 5px 5px;
}

#dos{
  background-color: #6C3;
  height: 550px;
  background-image: url(img/img-hero-full-list.png);
}

#tres{
  background-color: #FFF;
  height: 641px;
  background-image: url(img/allinone.jpg);
}

#quatre{
  background-color: #333333;
  height: 500px;
  background-image: url(img/curator-short.png);
}

#cinc{
  background-color: #EEECEE;
  height: 550px;
  background-image: url(img/img-hero-full-list.png);
}

#sis{
  background-color: #6C3;
  height: 550px;
  background-image: url(img/mobile-share.png);
  background-repeat: no-repeat;
  background-position: 400px

}
#set{
  background-color: #EEECEE;
  height: 643px;
  background-image: url(img/anywhere.png);
}

#vuit{
 height: 200px;
 background-color: #333333;
 color: #CCC;
 text-align: center;
}
