body{
  background-color: lightpink;
  margin: 0;
  padding: 0
}
h1{
  font-size:50px;
  font-family: monospace;
  letter-spacing: 15px;
}
div {
  background-color: purple;
  margin: 20px;
  width: 200px;
  height: 200px;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  color: orange
}


#dos{
  background-color: navy;
  font-size: 50px;
  color: gold
}

#tres{
  width: 500px;
  height: 200px:;
  border-radius: 50px;
  border: dashed white 5px
}

#quatre{
  border-radius: 200px 160px 350px 500px;
}
