@media screen and (min-width:769px) {
  body{
    background-color: CornflowerBlue;
  }
}

.frajas{
  background-color: SkyBlue;
  font-family: Blinker;
  width: 1005px;
  color: white;
  text-align: center;
  font-size: 30px;

}

#header{
  height: 90px;
  line-height: 90px;

}

#titol{
  height: 100px;
  line-height: 100px;
  clear: both;
}

#footter{
  margin-top: 30px;
  height: 140px;
  line-height: 140px;
  clear: both;
}


.quadrados{
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
  background-color: Turquoise;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin-left: 230px;
  float: left;
  font-size: 50px;
  font-family: Blinker;
}

#uno{

}

#dos{

}

#tres{
  clear: both;
  float: left;
}

#quatro{

}
